body{
    background: #000000;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.container {
  
    width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;

}

.row {
    /* row-gap: 25px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;

}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
   
}

.col-7 {
    width: 58.33%;
   
}
.col-8{
    width: 66.66%;
}
.gap-10{
    column-gap: 10px;
}
.col-12{
    width: 100%;
}
.primary-background{
    background-color: red;
    border-radius: 10px;
}
section{
  background-image: url(./images/Gemini_Generated_Image_o2hsuso2hsuso2hs.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.jc-center{
    justify-content: center;

}
.jc-start{
    justify-content: start;
}
.align-items-center{
    align-items: center;
}
section{
    padding: 50px 50px  ;
}
.text-center{
    text-align: center;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.quote-box{
    color: aliceblue;
    text-transform: uppercase;
    margin: 20px  0;
    padding: 20px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
#auther-img img{
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    
}
#auther-img{
    
    position: relative;
}

#auther-img::after{
z-index: 2;
position: absolute;
bottom: 0;
display: block;
content: " ";
width: 100%;
height: 60%;
background: linear-gradient(to top, #000000, rgba(0,0,0,0));


}
.mt-10{
    margin-top: 10px;
}
.text-end{
    text-align: end;
}